.questionContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.questionTextRow {
  display: flex;
  width: 100%;
}

.qText {
  font-size: 14px;
  line-height: 160%;
  color: #000;
}

.optionsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin-left: 20px;
}

.option {
  display: flex;
  gap: 8px;
  align-items: baseline;
  font-size: 14px;
  color: #000;
}

.optLetter {
  font-weight: 500;
}

@media (max-width: 600px) {
  .optionsGrid {
    grid-template-columns: 1fr;
  }
}
